/*  Đặt vị trí của phần tử là tương đối với 
    vị trí của phần tử cha */
.footer{
    position: relative;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*  Thuộc tính position: absolute; đặt vị trí của pseudo-element là tuyệt đối đối với phần tử cha. 
    Điều này cho phép chúng ta đặt pseudo-element trên phần tử cha. */
/*  Thuộc tính overflow: hidden; ẩn bất kỳ nội dung nào 
     vượt ra khỏi khu vực giới hạn của pseudo-element. */
.footer:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2),;
    /* background-color: red; */
}

.filter-btn{
    padding: 5px;
    border-radius: 0.25rem;
    transition: 250ms all ease-in-out;
    outline: none;
    cursor: pointer;
    margin-right: white;
    border: 1px solid black;
    margin-left: 5px;
}

.filter-btn:hover{
    border-color: burlywood;
}

.filter-btn.active{
    border-color: red;
}

.clear-completed-btn{
    visibility: hidden;
}

.clear-completed-btn.visible{
    visibility: visible;
}

.items-count{
    padding-left: 10px;
}

